header{
    display: flex;
    justify-content: center;
    background-color: black;
}

#logo{
    width: 3%;
    justify-content: center;
    
}

#logo img{
    width: 100%;
    border-radius: 70%;
    
}

nav{
    background-color: aqua;
     display: flex;
    justify-content: space-between;
}

#menu{
    list-style: none;
    display: flex;
    margin-left: 20%;
    
}

.nomes{
    margin-left: 70%;
}

#foto{
    width: 100%;
}