@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin:0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #ffffff;
}

#CorpoForm{
    background: url(images/fundoFormulario2.png) center / cover no-repeat;
    height: 60vh;
}

header{
    display: flex;
    background-color: #000;
    align-items: center;
    justify-content: center;
}
nav{
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
   
}

#logo img{
    width: 10%;
    height: 80%;  
    margin-left: 40%;
    padding: 1%;
}
.subHeader{
  background-color: #000;
}

.subHeader a{
    text-decoration: none;
    color: white;
}

#botao{
    background-color:rgb(47, 47, 168);
    color: #ffffff;
    width: 24%;
    height: 20%;
    border-radius: 20%;
    margin-left: 70%;
    
}
#botao img{ 
    height: 100%;
    width: 100%;
}

/*SOBRE NÓS */
#tit2{
    display: flex;
    color: rgb(42, 42, 225) ;
    justify-content: center;
    margin: 2%;
    font-family:Impact, fantasy;
    font-size: 200%;
}
#tit{
    display: flex;
    justify-content: center;
    font-size: 250%;
    margin: 2%;
    font-family:Impact, fantasy;
    color: black;
}
#textSb{
    display: flex;
    justify-content: center;
    margin: 0% 33%;
    font-size: 150%;
    font-family:Impact, fantasy;
}
.sobNos{
    color: #000;
    
}
#control{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin: 3% 24%;
}

/* CARDAPIO GRID*/
.backC{
    background: url(./images/backPreto.png) center / cover no-repeat;
    height: 10%;
    width:100%;
}
.grid {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 4fr 4fr 4fr;
    gap: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    

}
.grid-item img{
    height: 100%;
    width: 100%;
    border-radius: 10% 10% 0% 0%;
    box-shadow: #000;
    
   
}


/*FOOTER*/
footer{
 color: #ffffff;
 padding: 2%;
 background-color: #333333;
 margin-top: 20%;
}
.fkFoot{
 display: flex;
 justify-content: space-around;
}
.fkFoot a{
    text-decoration: none;
    color: white;
}
strong{
    margin-bottom: 5%;
    color: #ff0000;
}
hr{
    margin: 2% 4% 2% 4%;
}
.p{
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}
.direitos{
    display: flex;
    justify-content: center;
}

.d-block{
    height: 85vh;
}

#carro{
   margin: auto;
   width: auto;
   background-color: aqua;
    /* overflow-x: hidden; */
} 

/* GALERIA */

.grid-G{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 4fr 4fr;
    gap: 3%;
    padding:10%  ;
    

}
.grid-itemG img{
    height: 100%;
    width: 100%;
    border-radius: 10% 10% 10% 10%;
    box-shadow: #000;
    margin-top: 20% ;
    
   
}

#formulario{
    width: 100%;
    color:#ffffff;
}

#form2{
    color: #ffffff;
}

#botaoForm{
    background-color: rgb(42, 42, 225) ;
    margin-top: 5%;
}

#caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 40vw;
    margin-top: 20%;
    
}

.c{
    color: #ffffff;
    font-family: Snell Roundhand, cursive;
}

#h1Cardapio{
    font-family:Impact, fantasy;
    text-align: center;
    margin-top: 15%;
    color: #ffffff;
}

.liHeader{
    font-family:Impact, fantasy; 
}


@media(max-width:1000px){
    button{
        display: none;
    }
    
    .subHeader{
        display: none;
    }

    .grid{
        display: grid;
        grid-template-columns: 4fr 4fr ;
        grid-template-rows: 4fr 4fr 4fr 4fr 4fr ;
        padding-bottom: 20%;
    }

    .grid-item{
        margin-bottom: 10%;
        margin-right: 10%;
    }

    .d-block{
        height: 50vh;
    }
    
}