@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin:0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #ffffff;
}
body::-webkit-scrollbar {
    width: 12px;             /*Trilho( espaço em branco)*/
  }
  
  body::-webkit-scrollbar-track {
    background: #333;    /*Trilo (Espaço em branco)*/    
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #120A8f;  /*Barra que se move*/  
    border-radius: 20px;       
    
  }

header{
    display: flex;
    background-color: #000;
    align-items: center;
    justify-content: center;
}
nav{
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
   
}

#logo img{
    width: 10%;
    height: 80%;  
    margin-left: 42%;
    padding: 1%;
}
.subHeader{
  background-color: #000;
}

.subHeader a{
    text-decoration: none;
    color: white;
}

#botao{
    background-color:rgb(47, 47, 168);
    color: #ffffff;
    height: 20%;
    border-radius: 20%;
    margin-bottom: 5%;

    
}
#botao img{ 
    height: 100%;
    width: 100%;
}

/*SOBRE NÓS */
#tit2{
    display: flex;
    color: rgb(42, 42, 225) ;
    justify-content: center;
    margin: 2%;
    font-family:Impact, fantasy;
    font-size: 200%;
}
#tit{
    display: flex;
    justify-content: center;
    font-size: 250%;
    margin: 2%;
    font-family:Impact, fantasy;
    color: black;
}
#textSb{
    display: flex;
    justify-content: center;
    margin: 0% 33%;
    font-size: 150%;
    font-family:Impact, fantasy;
}
.sobNos{
    color: #000;
    
}
.control img{
    margin: 3% 0% 0% 32%;
    animation: float 5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    width: 34%;
    
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* CARDAPIO GRID*/
.backC{
    background: url(./images/backPreto.png) center / cover no-repeat;
    height: 10%;
    width:100%;
}
.c{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: Snell Roundhand, cursive;
}

#Cardapio{
    font-family:Impact, fantasy;
    text-align: center;
    color: #ffffff;
}
.grid {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 4fr 4fr 4fr;
    gap: 3%;
    padding: 5% 10% 5% 10%;
    
    
}
.grid-item img{
    height: 85%;
    width: 100%;
    border-radius: 10% 10% 10% 10%;
    box-shadow: #000;
    
   
}



/* GALERIA */

.grid-G{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 4fr 4fr;
    gap: 3%;
    padding:10%  ;
    
    
}
.grid-itemG img{
    height:80%;
    width: 100%;
    border-radius: 10% 10% 10% 10%;
    box-shadow: #000;
    margin-top: 20% ;
    
    

}

.imagesPkm img{
    height: 100%;
    width: 100%;
}
.rayq img{
   
    position: absolute ;
    width: 30%;
    height: 30%;
    margin: 6% 0 0 3%;
    animation: float 5s ease-in-out infinite;

}
.chari img{
    position:absolute;
    width: 30%;
    height: 30%;
    margin: 80% 0 0 70%;
    animation: float 5s ease-in-out infinite;

}

/*FORMULARIO*/
.caixa{
background: url(./images/Form.jpg) center / cover ;
height: 150%;
width: 100%;
padding: 10% ;
}

#formulario{
width: 100%;
color:#ffffff;
}

#form2{
color: #ffffff;
}
#botaoForm button{
background-color: rgb(42, 42, 225) ;
margin-top: 5%;
display: flex;
justify-content: center;
}



/*FOOTER*/
footer{
 color: #ffffff;
 padding: 2%;
 background-color: #1b1a1a;
 
}
.fkFoot{
 display: flex;
 justify-content: space-around;
}
.fkFoot a{
    text-decoration: none;
    color: white;
}
strong{
    margin-bottom: 5%;
    color: #ff0000;
}
hr{
    margin: 2% 4% 2% 4%;
}
.p{
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}
.direitos{
    display: flex;
    justify-content: center;
}

.d-block{
    height: 85vh;
}

#carro{
   margin: auto;
   width: auto;
   background-color: aqua;
   
} 


.liHeader{
    font-family:Impact, fantasy; 
}


@media(max-width:1000px){
    button{
        display: none;
    }
    
    .subHeader{
        display: none;
    }

    .grid{
        display: grid;
        grid-template-columns: 4fr 4fr ;
        grid-template-rows: 4fr 4fr 4fr 4fr 4fr ;
        padding-bottom: 20%;
    }

    .grid-item{
        margin-bottom: 10%;
        margin-right: 10%;
    }

    .d-block{
        height: 50vh;
    }

    .grid-G{
        display: grid;
        grid-template-columns: 4fr 4fr ;
        grid-template-rows: 4fr 4fr 4fr ;
        padding-bottom: 20%;
    }

    .grid-itemG{
        margin-bottom: 10%;
        margin-right: 10%;
    }

    .imagesPkm{
        display: none;
    }
}